.App {
  height: 100%;
}

/* Desktop screen */
@media screen and (min-width: 720px) {
  .App {
    width: 720px;
    margin: auto;
  }
}

/* Mobile Screen */
@media screen and (max-width: 720px) {
  .App {
    width: 100%;
  }
}

.hide {
  display: none;
}
.show {
  display: block;
}

.title-style {
  text-align: center;
  font-size: 3em;
  margin: 20px;
  /* background-color: #B9E4C9; */
  padding: 20px 10px;
  display: flex;
  justify-content: center;
}

.title-header {
  margin-right: 10px
}

.title-version {
  font-size: 16px;
  align-items: flex-end;
}

.section1 {
  font-size: 24px;
  margin: 20px;
  background-color: #EEF3D7;
  padding: 20px 0px;
  /* text-align: center; */
}
.nav {
  margin: 0px 10px;
  cursor: pointer;
}
.nav-b {
  font-weight: bold;
}

.nav-v-line {
  border-left: 2px solid black;
}

.sectionNav {
  font-size: 24px;
  margin: 20px;
  /* background-color: #EEF3D7; */
  padding: 20px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.header1 {
  margin-bottom: 10px;
  text-align: center;
  margin: 0px 20px;
}

.header2 {
  margin-bottom: 10px;
  text-align: center;
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
}
.h-line {
  border-bottom: 1px red solid;
  margin: 0px 20px;
}
.v-line {
  border-left: 1px red solid;
}

.menu-name-input {
  font-size: 20px;
  background: transparent;
  border: none;
  background-color: #FFFBE6;
  padding: 10px;
  color: #37966F;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.menu-name-input::placeholder {
  color: #B9E4C9;
}

.input-div, .list-div {
  margin: 20px;
}

.button-div {
  text-align: center;
  width: 100%;
}

.order-btn-style {
  background: #37966F;
  border: none;
  font-size: 22px;
  padding: 8px 16px;
  color: white;
}
.clear-btn-style {
  background: #37966F;
  border: none;
  font-size: 22px;
  color: white;
}

.list-div {
  font-size: 18px;
}

.row-list {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 10px 0px;
  background: #B9E4C9;
  padding-left: 4px;
  padding: 10px;
  text-align: middle;
}

.row-list-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sum-list {
  justify-content: space-between;
  /* align-items: center; */
  margin: 10px 0px;
  background: #B9E4C9;
  padding-left: 4px;
  padding: 10px;
  text-align: middle;
}

.sum-list-div {
  width: 100%;
  text-align: center;
}

.list-btn-div {
  /* display: flex; */
  /* background: white; */
  justify-content: center;
  margin: 10px 0px;
  align-items: center;
}
.list-btn-flex {
  flex: 1;
}
.list-num-item {
  padding: 2px 8px;
  background: #FFFBE6;
  color: #37966F;
}

.list-btn-style {
  background: #37966F;
  border: none;
  font-size: 18px;
  /* padding: 12px; */
  padding: 2px 8px;
  color: white;
}

.list-detail {
  width: 100%;
  font-size: 16px;
  margin-left: 20px;
  /* color: gray; */
  background-color: #37966F;
}

.who-order-div {
  text-align: right;
  /* display: flex; */
  /* margin-top: 10px; */
  /* margin-left: 5%; */
}

.who-order-det-but {
  background-color: transparent;
  border: none;
}

.who-order-div-sub {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.input-add-name {
  background: transparent;
  border: none;
  background-color: #FFFBE6;
  padding: 4px;
  color: #37966F;
  width: 30%;
  margin-right: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.input-add-name::placeholder {
  color: #B9E4C9;
}

.btn-add {
  background: #37966F;
  border: none;
  /* font-size: 22px; */
  padding: 4px 8px;
  color: white;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #B9E4C9;
  padding: 10px 10px;
  color: #37966F;
  text-align: center;
}